# 排除IDE相关文件
.DS_Store
.idea

# 排除env生产文件
.env
.env.backup

# 排除PHP错误日志
/**/php_errors.log

# 排除项目构建生成路径
/vendor/
/node_modules/
/wwwroot/static/

# 排除项目运行生成路径
/session_files/
/wwwroot/upload/
/wwwroot/captcha/captcha.jpg

# 排除本地临时备份文件
/tools_static_src/**/TmpBack/
/**/sitemap.*xml
