.min-w-rem-1 {min-width: 1rem;}
.min-w-rem-2 {min-width: 2rem;}
.min-w-rem-3 {min-width: 3rem;}
.min-w-rem-4 {min-width: 4rem;}
.min-w-rem-5 {min-width: 5rem;}
.min-w-rem-6 {min-width: 6rem;}
.min-w-rem-7 {min-width: 7rem;}
.min-w-rem-8 {min-width: 8rem;}
.min-w-rem-9 {min-width: 9rem;}

#search_result_number_list > div:nth-child(odd) {background-color: #ff000040;}
#search_result_number_list > div:nth-child(even) {background-color: #00ff0040;}

input[type=search] {letter-spacing: .3rem;}
input[type=search]::placeholder {color: red;}
input[type=search]:placeholder-shown {letter-spacing: 2rem;}

.add_phone_number_form input::placeholder {color: #fd7e14;}
.add_phone_number_form input:placeholder-shown {}
